# Ignore all contents of the datarecord folder
datarecord/*

# But do not ignore the datarecord folder itself
!datarecord/

# Do not ignore the .gitkeep file in the datarecord folder
!datarecord/.gitkeep

# Ignore all contents of the filtereddatarecord folder
filtereddatarecord/*

# But do not ignore the filtereddatarecord folder itself
!filtereddatarecord/

# Do not ignore the .gitkeep file in the filtereddatarecord folder
!filtereddatarecord/.gitkeep

# Ignore build and dist folders
build/
dist/
*.spec
*egg-info/
build.py
app_obfuscate.py
boas.py
NOTE.txt
*.pyc
